@page
@model ZabanAmoz.Pages.Admin.Comment.CommentBodyModel
@{
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">پنل مدیریت</a>
    </li>
    <li class="breadcrumb-item active">نمایش نظر و پاسخ ها     </li>
</ol>

<div class="header_box col-md-8">
    <h2 class="d-inline-block"> مشاهده جزئیات نظر و پاسخ ها  </h2>
</div>



<div class="col-md-8">
    <li>
        <figure><img src="/UserImg/@Model.Comment.ImageName" alt="" style="max-width:250px"></figure>
        <h4>نظر یا پرسش  </h4>
        <ul class="course_list">
            <li><strong>از طرف: </strong>  @Model.Comment.UserName </li>
            <li><strong>تاریخ ثبت: </strong> @Model.Comment.CreateDate.ToShamsi() </li>
            <li><strong> تعداد پاسخ ها:</strong> @Model.Comment.Replies </li>
        </ul>
        <h6>متن نظر یا پیام</h6>
        <p>@Model.Comment.BodyText </p>
        <hr />
        <h6>پاسخ ها   </h6>

        @if (Model.Replies!=null)
        {
            <ul>
                @foreach (var item in Model.Replies)
                {
                    <li><i class="icon-left-dir"></i> @item.UserName-@item.CreateDate.ToShamsi()  : <span> @item.ReplyBody  </span><span><a href="/Admin/Comment/DeleteReply?replyId=@item.ReplyId&commentId=@Model.Comment.CommentId"   class="btn btn-danger btn-sm">حذف</a></span></li>
                    <hr />
                }
            </ul>
        }
    </li>


</div>

